<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="Graph tests" verbose="1">  
    <listeners>
	    <listener class-name="test.listener.TestListener" />
    </listeners> 
    <test name="Тестирование ядра нейросети">     
        <groups>       
            <run>         
                <include name="platform-core" />       
            </run>     
        </groups>     
        <classes>       
            <class name="org.ael.nn.platform.vector.VectorTest" />                    
        </classes>   
    </test> 
</suite> 


